@model IEnumerable<MyBlogApp.Models.Blog>

@{ ViewData["Title"] = "Home"; }


<div class="hero-wrap js-fullheight" style="background-image: url(template/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <div class="img mb-4" style="background-image: url(template/images/author.jpg);"></div>
            <div class="desc">
                <h2 class="subheading">Hello I'm</h2>
                <h1 class="mb-4">Elen Henderson</h1>
                <p class="mb-4">I am A Blogger Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p><a href="#" class="btn-custom">More About Me <span class="ion-ios-arrow-forward"></span></a></p>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Articles</h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
            </div>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {

<div class="col-md-4">
    <div class="blog-entry ftco-animate">
        <a href="#" class="img img-2" style="background-image: url(template/images/image_1.jpg);"></a>
        <div class="text text-2 pt-2 mt-3">
            <span class="category mb-3 d-block"><a href="#">@item.Category.CategoryName</a></span>
            <h3 class="mb-4"><a href="#">@item.Title</a></h3>

            <div class="meta-wrap align-items-center">

                <div class="half">

                    <p>
                        <a asp-action="Details" asp-route-id="@item.BlogId" class="btn btn-primary btn-sm mr-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>}



        </div>
    </div>
</section>

